[package]
name = "query_api"
version = "2.1.0"
edition = "2021"

[dependencies]
# Runtime
tokio = { version = "1.21.2", features = ["macros", "rt-multi-thread"] }

# Serde
serde = { version = "1.0.145", features = ["derive"] }
serde_json = "1.0.86"

# Database
deadpool-postgres = "0.10.2"
tokio-postgres = { version = "0.7.7", features = ["with-serde_json-1"] }
postgres-types = { version = "0.2.4", features = ["derive", "array-impls"] }

# Https
surf = { version = "2.3.2", features = ["curl-client"] }
hyper = { version = "0.14.20", features = ["full"] }

# Logging
log = "0.4.17"
simplelog = "0.12.0"

# Misc
dashmap = { version = "5.4.0", features = ["serde"] }
lazy_static = "1.4.0"
dotenv = "0.15.0"
futures = "0.3.24"
hematite-nbt = "0.5.2"
base64 = "0.13.0"
regex = "1.6.0"

[profile.release]
codegen-units = 1
debug = true
incremental = false
lto = true
