[package]
name = "query_api"
version = "3.1.0"
edition = "2021"

[dependencies]
# Runtime
tokio = { version = "1.29.1", features = ["macros", "rt-multi-thread"] }

# Serde
serde = { version = "1.0.171", features = ["derive"] }
serde_json = "1.0.102"

# Database
deadpool-postgres = "0.10.5"
tokio-postgres = { version = "0.7.8", features = ["with-serde_json-1"] }
postgres-types = { version = "0.2.5", features = ["derive", "array-impls"] }

# Https
surf = { version = "2.3.2", features = ["curl-client"] }
hyper = { version = "0.14.27", features = ["full"] }

# Logging
log = "0.4.19"
simplelog = "0.12.1"

# Misc
dashmap = { version = "5.5.0", features = ["serde"] }
lazy_static = "1.4.0"
dotenv = "0.15.0"
futures = "0.3.28"
hematite-nbt = "0.5.2"
base64 = "0.21.2"
regex = "1.9.1"

[profile.release]
codegen-units = 1
debug = true
lto = true
